[package]
name = "brilift"
version = "0.1.0"
edition = "2021"

[dependencies]
bril-rs = { path = "../bril-rs", features = ["memory", "float", "ssa", "speculate", "position", "import", "char"] }
cranelift-codegen = { version = "0.103.0", features = ["all-arch"] }
cranelift-frontend = "0.103.0"
cranelift-object = "0.103.0"
cranelift-module = "0.103.0"
cranelift-native = "0.103.0"
cranelift-jit = "0.103.0"
argh = "^0.1.7"
simplelog = "^0.12.0"
enum-map = "^2.0.3"
